.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(227, 210, 244);
    min-width: 75vw;
    max-width: 75vw;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.playerBox {
    min-width: 75vw;
    max-width: 75vw;
    min-height: 100px;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.link {
    font-style: italic;
    color: lightblue;
}

.img {
    float: right;
}

.leftHalf {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttonContainer {
    margin: auto;
}

.buttonRow>button {
    color: rgb(0, 0, 0);
    margin: 5px;
    background: rgb(72, 82, 196);
    background: radial-gradient(circle, rgb(153, 143, 184) 40%, rgb(54, 54, 54) 100%);
    border-radius: 3px;
    border: 1px inset rgb(45, 39, 97);
    font-size: 10px;
    padding: 7px;
    text-shadow: rgb(23, 42, 209) 0px 0px 24px;
    cursor: pointer;
}

.buttonRow>button:hover {
    background: rgb(72, 82, 196);
    background: radial-gradient(circle, rgb(160, 161, 177) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
    border: 1px inset rgb(249, 247, 250);
}